Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


URxvt.scrollBar: false
URxvt*transparent: false
URxvt*shading: 20
URxvt*fading: 20
URxvt*saveLines: 1000
URxvt*buffered:	false

URxvt.keysym.M-C-c:	perl:clipboard:copy
URxvt.keysym.M-C-v:	perl:clipboard:paste

!! Hack
URxvt.font:             xft:Hack:size=10:hinting=True;antialias:True,xft:PowerlineSymbols,xft:Font Awesome:size=10,xft:WenQuanYi Bitmap Song-12:medium;antialias=False,xft:WenQuanYi Zen Hei-12:medium;antialias=True,xft:HanaMinA-12:medium;antialias:True,xft:HanaMinB-12:medium;antialias:True,xft:HanaMinPlus-12:medium;antialias:True
URxvt.boldFont:         xft:Hack:size=10:bold;hinting=True;antialias:True,xft:Font Awesome:size=10,xft:WenQuanYi Bitmap Song-12:bold;antialias=False,xft:WenQuanYi Zen Hei-12:bold;antialias=True,xft:HanaMinA-12:bold;antialias:True,xft:HanaMinB-12:bold;antialias:True,xft:HanaMinPlus-12:bold;antialias:True
!

URxvt*letterSpace:  0

! special
*foreground:   #eceff1
*background:   #263238
*cursorColor:  #eceff1

! black
*color0:       #263238
*color8:       #37474f

! red
*color1:       #ff9800
*color9:       #ffa74d

! green
*color2:       #8bc34a
*color10:      #9ccc65

! yellow
*color3:       #ffc107
*color11:      #ffa000

! blue
*color4:       #03a9f4
*color12:      #81d4fa

! magenta
*color5:       #EF4981
*color13:      #ad1457

! cyan
*color6:       #009688
*color14:      #26a69a

! white
*color7:       #cfd8dc
*color15:      #eceff1


rofi.width:		50
rofi.padding:	300
rofi.fullscreen: true
rofi.fixed-num-lines: true
rofi.bw:		0
rofi.location:	0
rofi.terminal:	urxvt
rofi.lines:		10
rofi.eh:		1
rofi.font:		Hack 14
rofi.color-window: argb:aa263238, argb:aa263238, #26a69a
rofi.color-normal: argb:0263238, #eceff1, argb:0263238, #f4246b, #eceff1
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
